body{
    background-color: rgb(106, 203, 201);

    /* background-image:url(image/profile.jpeg.jpg) ; */
    background-repeat: repeat;
    background-attachment:scroll;

    /* background-color
background-image
background-position
background-size
background-repeat
background-attachment
background-origin
background-clip */
}

h1{
    color: aqua;
    text-align: center;
    border: dotted;

    /* dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border */
}


/* 
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;} */






p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.large{
    text-align: center;
}

/* universal selector (*) selects all HTML elements on the page */
*{
    text-align: center;
}


/* The grouping selector selects all the HTML elements with the same style definitions. */