*{
    margin: 0%;
    padding: 0%;
    top: 0%;

}

nav{
    background-color: black;
    color: aliceblue;
    padding: 15px;
}

ul,h1,li{
    display: inline;

}
ul{
    margin-left: 60%;
}
li{
    color: gray;
}

li:hover{
    color: white;
    cursor: pointer;
}

input{
    width: 60%;
    padding: 10px;
}

.searchbar{
    padding: 50px;
    text-align: center;
}
.prodect{
    text-align: center;
}
.box{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    height: 320px;
}

.box:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


img{
    
    width: 220px;
    height: 220px;
}

.about{
    text-align: center;
    padding: 45px;
    font-size: 20px;
}
.contact{
    background-color: black;
    color: aliceblue;
}
.contactfoot{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.contactfoot,p{
    text-align: center;
    padding-top: 8px;
}
