*{ 
    margin: 0;
    padding: 0;
    top: 0;
}




body{
    background-color: rgb(2, 15, 15);
}
.titlebar{
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
}

.conitiner{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
}

.conitiner div{
    width: 300px;
    color: aliceblue;
    margin: 10px;
    flex-basis: 23%;

}

p{
    width: 220px;
}