.left-side{
    top:8.5px;
    padding: 9px;
    margin-left: o;
    position:fixed;
    background-color: rgb(131, 104, 76);
    margin-left: 30px;
    height: 250vh;



}


.right-side{
    top:10px;
    margin-left: 400px;
    background-color: rgb(161, 150, 108);
    margin-right: 25px;
    height: 250vh;


}

p{
    text-align: left;
    margin: 40px;
}


.side-headings{
    
    margin-left: 20px;
}

p{
    margin-left: 50px;
}

.unorder-list{
    margin-left: 65px;
}

.unorder-list-left{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}












img{
    width: 300px;
    margin-top: 8px;
    border: solid rgb(70, 106, 114) 25px ;
}

.background-color-changeing{
    background-color: rgb(224, 57, 239);
    border: 10px solid rgb(194, 61, 61);
    
}


.whole-body{

}
