/* .apple{
    text-align: center;
    color: rgb(194, 176, 144);
}

.orange{
    text-align: center;
    color: rgb(220, 164, 90);

}

.mango{
    padding: 63px;
    padding-left: 70px;
    text-align: center;
    background-color: rgb(80, 68, 53);
    margin-left: 40%;
    height: 200px;
}

body{
    background-color: aliceblue;
   
  
    
}



.goa{
    padding: 30px;
    margin-left: 40%;
}

#dog{
    margin-left: 48%;
    text-align: justify;
}
p{
    font-family:cursive;
}

.jerry{
    margin-left: 40%;
    background-color:  brown;
    height: 3px;
}
.ig{
    /* float:left top; */
    position: sticky;
    /* top:2%; */
    position: relative;
   
    width: 300px; 
    
   /*  margin-left: 60px;
    flex-shrink: 1;
}

.ff{
    position: absolute;
    top:35%;
    margin-left: 18%;
    
}




.app{
    position: absolute;
    top: 44%;
    margin-left: 16%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app1{
     position: absolute;
    top: 57%;
    margin-left: 17%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.appp1{
     position: absolute;
    top: 62%;
    margin-left: 17%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    

}






.appp{
    position: absolute;
    top: 48%;
    margin-left: 17%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.pineapple{
    float:left
  
}

.dd{
   background-color: rgb(56, 49, 44);
   position: absolute;
   width: 80%;
   top:33%;
   margin-left: 1%;
   height: 5px;
    border-radius: 100px;
    
}
.gg{
     align-self: center;  
     margin:12%; 
    margin-top:1px;  
    /* position: sticky; */
    /* display:inline-block;  */
   /*  padding-block-start: 0;
    margin-left: 500px; 
    width: 65%; 
    background-color: bisque;
    padding: 0px;   
    height: 100vh;
    flex-shrink: 0;
    align-items:self-end;
    margin: 3px; 
    display: inline-block;
   
}
.hh{ */
/* 
    align-items:first baseline ;
    width: 35%;
    padding-inline-start: 50px;
    padding-block-start: 5px;
  
    position:absolute;
    background-color: rgb(98, 100, 102); 
    display: flex; 
    /* width: 100%; */
   /*  min-height: 93vh;
     width: 25%; 
    height: 100vh;
    top:15px;
    flex-shrink: 0;
    margin: 0;
   gap: 0;

    
 
 */

 */



/* } */








.nl{background-color: rgb(56, 49, 44);
   position: absolute;
   width:80%;
   top:47%;
   margin-left: 1%;
   height: 5px;
  border-radius: 100px;

}

.nl1{
    background-color: rgb(56, 49, 44);
   position: absolute;
   width: 80%;
   top:60%;
   margin-left: 1%;
   height: 5px;
  border-radius: 100px;
}
   

*{
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
}

 */
