body{
    background-color: rgb(244, 246, 247);

    text-decoration: double;
}

.hello{
    border: solid 1px 50%;

}

table,td,tr{
    border: solid red 3px;
    border-collapse: collapse;
    
}


.hii{

    float:right;
    height: 200px;
    padding-bottom: 100px;
    padding-top: 0px;


}
.img{
    width: 40px;
  
}