.hi{
    text-align:center;
}

.oii{
    width: 100%;
    background-color: blue;
    height: 5px;
}



table,td,th {

    background-color: beige;


    margin-top: 100px;

   

    
    border: solid rgb(233, 9, 173);

    border-style: solid;
    
   
    text-align: center;
    border-collapse: collapse;

    
}

th,tr{

    
    height: 100px;
}




table{
    width: 100% ;
}

td:hover{
    background-color: aqua;
}
th:hover{
    background-color: chartreuse;
}


.a{
    text-align: center;
}

.b{
    font-size: large;
    text-align: justify;

}

label{

    font-size: 20px ;

    font-family: 'Courier New', Courier, monospace;
    text-shadow: 100px;


}

input{
    background-color: aqua;
}

.f{
    background-color: magenta;
}