h1{
    text-align: center;
    font-size: 50px;
    font-style:italic;
}

form ,address{
    margin-top:  20px;
    margin-left: 50px;
    
}
address{
    margin-bottom: 40px;
}

#cars{
    background-color: rgb(23, 249, 98);
    text-align: center;
}
button{
    text-align: center;
    padding: 10px;
    margin-left: 50%;
    background-color: aqua;
    
    width: 100px;
}