.card{
    width: 250px; 
    padding: 20px;
    border: 2px solid black;
    background-color: lightyellow;
    text-align: center;
    border-radius: 10px;



}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.bnt:hover{
    background-color: rgb(191, 236, 42);
}

.navbar{
    float: left;
    position: absolute;
    margin: 0;
    top: 20px;
    margin-left: 900px;
    border: solid 4px rgb(254, 3, 3);
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    text-decoration: none;
        
}
.card button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    background-color: aqua;
    cursor: pointer;
    font-size: 16px;
}

.navbar nav{
    
}