*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header{
    background-color: #243b55;
    color: white;
    text-align: center;
    padding: 40px;
    
}
